<header>
    <div class="wrapper">
      <nav class="site-nav">
        <div class="nav-left">

          <a href="{{ '/' | relative_url }}">
            <h2>Home</h2>
          </a>

          <a href="{{ '/projects/' | relative_url }}">
            <h2>Projects</h2>
          </a>

          <a href="{{ '/resume/' | relative_url }}">
            <h2>Resume</h2>
          </a>

        </div>
        <div class="nav-right">
          <a href="{{ '/' | relative_url }}" class="site-title">
            <h1>Meredith Hu</h1>
          </a>
        </div>
      </nav>
    </div>
  </header>