@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Alegreya+Sans&display=swap');

/* Base Styles */
body {
  margin: 0;
  font-family: monaco, monospace;
  background-color: #fffff0;

  /* black background */
  color: #000000;
}
